@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap');


header, main{
  margin: 1% 10%;
}

footer{
  margin: 1% 10%;
  background-color: rgb(27, 27, 119);
  color: antiquewhite;
}


/* **** SECTION TOPO CAROUSEL **** */ 
.carousel{
  width: 100%;

}


/* **** SECTION CABEÇALHO **** */ 
header {
  height: 80px;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 35px;
}

.cabecalho-navegacao {
  text-decoration: none;
  justify-content: right;
  align-items: center;
  display: flex;
  margin-top: -150px;
  gap: 15px;
}

.cabecalho-navegacao a:hover {
  color: #D12B25;
}

.link-nav {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

#botao-contato{
  width: 150px;
  border-radius: 5px;
  color: white;
  background-color: #D12B25;
  padding: 10px 20px;
}

/* **** ORGANIZAO TEXTOS **** */ 

.conteudo h2, h3, p{
  font-family: 'Merriweather', serif;
}

.conteudo h2{
  font-weight: 700;
  font-size: 28px;

}

.conteudo h3{
  font-weight: 700;
  font-size: 18px;


}

.conteudo h4{
  font-weight: 700;
  font-size: 16px;


}

.conteudo p{
  font-weight: 300;
  font-size: 14px;
  text-align: justify;

}


/* **** SECTION PRODUTOS **** */ 
.conteudo-maquinas-img{
  width: 300px;

}

.conteudo-img{
  width: 20%;

}

/* **** SECTION SERVIÇOS **** */ 
.conteudo-servicos{

  
}

.conteudo-servicos-divisao{

}

.conteudo-img{
width: 30%;
}


/* **** SECTION EMPRESAS PARCEIRAS **** */ 


.logo-img-item{
  width: 50%;
  border-radius: 50%;
  border: 1px solid black;

}

/* **** SECTION CLIENTES **** */ 

#conteudo-avaliacoes{
  display: flex;
  flex-direction: column;
}

.clientes{
  width: 400px;
  height: 170px;
  border-radius: 5%;
  margin: 2%;
  padding: 20px;
  box-shadow: 3px 2px 2px 3px #e0dfdf;
  cursor: pointer;
  user-select: none;
}

.clientes img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: -90px;
}

.clientes h2{
  margin-left: 18%;
  margin-top: 1%;
  font-size: 20px;
}

.clientes h3{
  margin-left: 18%;
  margin-top: -2%;
  font-size: 15px;
}



/* **** SECTION RODAPÉ **** */ 
footer ul {
  list-style: none;
  padding-left: 0px;
}

.rodape {
  display: flex;
  gap: 50px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 5px;
}

.rodape ul li a {
  text-decoration: none;
  color: antiquewhite;
}

.rodape-texto p{
  text-align: center;
  font-weight: bolder;
}

.titulo-rodape {
  font-weight: bold;
  margin-bottom: 2px;
}

#lista-rede-social {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.botao-rodape {
  text-decoration: none;
  display: block;
  background-color: #D12B25;
  text-align: center;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

.rodape-navegacao a:hover{
  color: #D12B25;
}

.info-item {
  justify-content: left;
}

@media (max-width: 900px) {
  .rodape {
    display: block;
    margin-top: 5px;
  }
}