@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap');


body {
  margin: 1% 10%;
  background-color: beige;

}


/* **** SECTION TOPO **** */ 
.carousel{
  width: 30%;


}


/* **** SECTION CABEÇALHO **** */ 
.cabecalho{
  display: flex;
  flex-direction: row;
  align-items: center;
}


/* **** ORGANIZAO TEXTOS **** */ 

.conteudo h2, h3, p{
  font-family: 'Merriweather', serif;
}

.conteudo h2{
  font-weight: 700;
  font-size: 28px;
  margin: 1%;
}

.conteudo h3{
  font-weight: 700;
  font-size: 18px;
  margin: 1%;

}

.conteudo h4{
  font-weight: 700;
  font-size: 16px;
  margin: 1%;

}

.conteudo p{
  font-weight: 300;
  font-size: 14px;
  text-align: justify;
  margin: 1%;
}


/* **** SECTION PRODUTOS **** */ 
.conteudo-maquinas-img{
  width: 300px;

}

.conteudo-img{
  width: 20%;
  margin: 1%;
}


.logo-img-item{
  width: 12%;
  border-radius: 50%;
  border: 1px solid black;
  float: left;
  margin: 10px;
}

/* **** SECTION CLIENTES **** */ 

#conteudo-avaliacoes{
  display: flex;
  flex-direction: column;
}

.img-cliente{
  width: 30%;
  border-radius: 50%;
}