@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap');

.cabecalho{
  display: flex;
  flex-direction: row;
  align-items: center;
}


.conteudo h2, h3, p{
  font-family: 'Merriweather', serif;
  color: aliceblue;
}

.conteudo h2{
  font-weight: 700;
  font-size: 28px;
  margin: 1%;
}

.conteudo h3{
  font-weight: 700;
  font-size: 18px;
  margin: 10px;
}

.conteudo h4{
    font-weight: 700;
    font-size: 16px;
    margin: 10px;

}

.conteudo p{
  font-weight: 300;
  font-size: 14px;
  text-align: justify;
  margin: 1%;
}


.conteudo-servicos-divisao {

  display: flex;
  flex-direction: row;

  border: 1px solid white;
  width: 500px;
  height: 200px;

}

.conteudo-servicos-divisao h3{
  text-align: justify;
}

#conteudo-servico{
  background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p3/5875368-fundo-gradiente-azul-escuro-gratis-vetor.jpg');
  background-repeat: no-repeat;
  background-size: 100%;

}

.conteudo-img{
  width: 40%;
}

.logo-img-item{
  width: 10%;
  border-radius: 50%;
  border: 1px solid black;
  float: left;
  margin: 10px;
}
